PORT=5000
BASE_URL=http://localhost:5173
DB_URL=mongodb://localhost:27017/blog
SECRET= wanchai_secret
APIKEY= "AIzaSyD3Ofl1PzXnWB3_rJmYQHyoqpmoCBEhlzg",
AUTHDOMAIN= "componant-86e97.firebaseapp.com",
PROJECTID= "componant-86e97",
STORAGEBUCKET= "componant-86e97.firebasestorage.app",
MESSAGINGSENDERID="34116066614",
APPID= "1:34116066614:web:ec6eaf1ebdc3c76633e797",
MEASUREMENTID= "G-R0SQ6ZKG4F",